* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: "Open Sans";
}

a {
    color: white;
}

    a:hover {
        text-decoration: none;
        color: unset;
    }



body {
    display: flex;
    flex-direction: column;
}


.header {
    width: 100%;
    height: 60px;
    background-color: #333333;
    margin: 0;
    float: left;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.city-wrap {
    display: flex;
    align-items: center;
    margin-left: 2%;
    max-width: 38%;
}

.head-logo {
    /*width: 71px;
    margin-right: 58px;
    cursor: pointer;*/
    width: 40%;
    margin-right: 16%;
    cursor: pointer;
    margin-top: 36%;
}


.home_icon_class {
    width: 25px;
    margin-right: 0;
    margin-top: 0;
}

.icons-wrap {
    display: flex;
    align-items: center;
    height: 100%;
}

.town {
    color: #fff;
    margin-right: 25px;
}

.townbutton {
    width: 101px;
    height: 24px;
    border-radius: 5px;
    background-color: #0a9ad1;
    border: 0px;
    cursor: pointer;
    margin-left: 24px;
    display: block;
    color: #ffffff;
    font-family: "OpenSans";
    font-size: 12px;
    font-weight: 400;
    margin-top: 12px;
    float: left;
}

.cocialicons {
}

.number {
    color: #fff;
    display: block;
    margin-right: 15px;
}

    .number a {
        white-space: nowrap;
    }

.dropdown-toggle {
    border-radius: 5px;
    background-color: #0a9ad1;
}

.dropdown-toggle:after {
    display: none;
}

#Logo {
    width: 92px;
    height: 80px;
    margin-left: 19px;
}

#HeaderText {
    height: 16px;
    color: #ffffff;
    font-family: "OpenSans";
    font-size: 18px;
    font-weight: 400;
    margin-top: -56px;
    display: block;
    margin-left: 177px;
    width: auto;
}




#CityButton {
    width: 101px;
    height: 24px;
    border-radius: 5px;
    background-color: #0a9ad1;
    border: 0px;
    cursor: pointer;
    margin-left: 23px;
    display: block;
    margin-top: -17px;
    margin-left: 245px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}


#PhoneStyle {
    width: 110px;
    height: 20px;
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    margin-left: 55%;
    display: block;
    margin-top: -20px;
}

#iconstyle {
    padding-left: 65%;
    display: block;
    margin-top: -24px;
}



#insticon {
    width: 27px;
    height: 27px;
    margin-left: 5px;
}

#userblock {
    margin-left: 49px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    position: relative;
    padding-right: 50px;
    padding-left: 30px;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

    #userblock:hover {
        background-color: #555555;
    }


#faceicon {
    width: 25px;
    height: 25px;
}

#residentname {
    color: #ffffff;
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 13px;
    display: block;
}

#down-arrowstyle {
    width: 20px;
    height: 12px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

#user-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    top: 60px;
    right: 0;
    box-shadow: 0 3px 7px rgba(0, 1, 1, 0.17);
    cursor: default;
    border-radius: 0 0 7px 7px;
    z-index: 999;
}

.town-wrap {
    display: flex;
    align-items: center;
}

.dropdown-img {
    width: 20px;
    margin-right: 13px;
}

.town-main {
    color: #fff;
    margin-right: 25px;
}

hr {
    margin: 0px;
}

.dropdown-row {
    display: flex;
    height: max-content;
    align-items: center;
    padding: 8px 20px;
}

    .dropdown-row:hover {
        cursor: pointer;
        background: #cfcecf;
    }

    .dropdown-row span {
        color: #333333;
        font-family: "Open Sans";
        font-size: 15px;
    }

#go-out {
    width: 100%;
    height: 38px;
    border-radius: 0 0 7px 7px;
    background-color: #0a9ad1;
    cursor: pointer;
    color: white;
    font-family: "Open Sans";
    border: 0;
}

    #go-out:hover {
        background-color: #097fac;
    }

.hidden-input {
    width: 0px;
    height: 0px;
    opacity: 0;
    position: absolute;
}

@media (max-width: 1199px) {
    .cocialicons {
        display: none;
    }
    .number {
        display: none;
    }

    #to-favorites-btn {
        display: none;
    }

    #userblock {
        padding-right: 6px;
        padding-left: 8px;
        margin: 0px;
    }

    #go-out {
        width: 102px;
        height: 37px;
    }

    #body-wrap {
        margin: auto
    }

    .town {
        display: none;
    }
    .dropdown {
        display: none;
    }
    .city-wrap {
        margin-left: 0px;
        display: flex;
        margin-left: 17px;
    }
    .head-logo {
        margin-right: 0px;
        margin-top: 20%;
        position: relative;
        min-width: 70%;
        width: 100%;
        margin-top: 90%;
    }
    .mobile-head-title {
        /*display: block !important;
        color: white;
        font-size: 10px;*/
    }

    #to-personal-data-btn {
        display: none;
    }

    #to-booked-time-btn {
        display: none;
    }

    #filter-wrap {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-foot-nav {
        display: flex !important;
        height: 57px;
        width: 100%;
        background: #333333;
        position: fixed;
        bottom: 0;
        color: #fff;
        justify-content: center;
        z-index: 999;
    }

    .foot-nav-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 8px;
        justify-content: center;
        padding: 0 10px;
        max-width: 40%;
        background-color: #555555;
        margin: 0 1px;
    }
    .foot-nav-option img{
        width: 17px;
    }

        .foot-nav-option span {
            text-align: center;
        }

    #body-container {
        margin-bottom: 57px;
    }

    .home_icon_class {
        display: none;
    }
}