body {
    height: 100%;
    background-image: url(../Resources/img/keyboard_back.png);
    background-repeat: no-repeat;
    background-position: 0 -255px;
    display: flex;
    flex-direction: column;
}

#MainBlock
{
    display: flex;

}


#BlockOne{
    margin-top: 20px;
    margin-left: 10%;
    max-width: 20%;


}

#avatar {
    width: 240px;
    height: 240px;
    cursor: pointer;
    object-fit: contain;
}

#textboxes{

display: block
}

.areastyle{

    width: 240px;
    height: 50px;
    border: 2px solid #0a9ad1;
    background-color: #ffffff;
    margin-top:8px;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 15px;


}

.editbutton{
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 12px;
    top: 26px;
    cursor: pointer;
}


.input-wrap
{
position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;


}




#BlockTwo{
    max-width: 80%;
}





#headertwo{
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;

}


#personitems
{
width: 190px;
height: 24px;
color: #414141;
font-family: "Open Sans";
font-size: 25px;
font-weight: 400;
/* Text style for "Личные дан" */
letter-spacing: -0.15px;


}

.WrongPass{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: #ff3535;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.09px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.success-message{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: green;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.09px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#BlockTwoContent{
        margin-top: 20px;
}


#AddedStyle{
    color: #333333;
    font-family: "OpenSans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin-left: 41px;
}

#AddedOffers{


}


.OffersStyle
{


width: auto;
display: flex;
height: 32px;
color: #333333;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;


}


.FontStyle{
    display: block;
    font-size: 13px;
}

.crossstyle
{
border:0;
background-color: #ffffff;
cursor: pointer;

margin-left:5px;
}


.offerbutton
{
display: flex;
margin-left:10px;
border-radius: 5px;
border: 2px solid #d2d2d2;
padding: 4px 10px;

background-color: #ffffff;

}


.childone
{
display: flex


}


.contextmenu{
    width: 470px;
    height: 45px;
    border: 2px solid #d2d2d2;
    background-color: #ffffff;
    margin-left: 35px;
    display: flex;
    position: relative;



}


.contextfont
{
    height: 42px;
    color: #262626;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 12px;

}


.jobscore{
    width: 350px;
    height: 45px;
    border: 2px solid #d2d2d2;
    background-color: #ffffff;
    margin-left: 6px;
    padding-left: 10px;
    font-size: 14px;



}

#arrowbutton{
    border: 0;
    background-color: #ffffff;
    display: block;
    position: absolute;
    right: 5px;
    top: 9px;


}

#parentarrow
{

width: 20px;
height: 11px;

}


#childarea{
    width: -webkit-fill-available;
    height: 90px;
    border: 2px solid #d2d2d2;
    background-color: #ffffff;
    color: #494949;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    padding :10px;
    margin-top: 13px;
    margin-left:35px;
    resize: none;
}

.childtwo
{



}

#orientationChildTwo{
    margin-top: 22px;
    margin-left: 5px;


}



#ChosePass
{
width: 117px;
height: 18px;
color: #414141;
font-family: "Open Sans";
font-size: 18px;
font-weight: 400;
letter-spacing: -0.36px;
margin-top:35px;
margin-left:35px;
}

.ChildTwoOffers {
    display: flex;
    justify-content: center;
}


.input-wrap-twoOrient{
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}



.input-wrap-two
{
position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;


}



.areastyle-two {
    width: 240px;
    height: 50px;
    border: 2px solid #d2d2d2;
    background-color: #ffffff;
    margin-top: 20px;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 15px;
}

.areastyle-pass {
    margin-top: 8px;
}

#SaveButton {
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    border: 0;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#SaveButton-pass {
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    border: 0;
    margin-top: 13px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 0px;

}

#change-pass-btn {
    justify-content: left;
    margin-left: 10%;
    margin-top: 10px;
}

#input-offers-wrap img{
    position: absolute;
    right: 2px;
    padding: 6px;
    top: 10px;
    cursor: pointer;
    width: 29px;
}





.savebut{
    width: 192px;
    height: 42px;
    border-radius: 5px;
    background-color: #0a9ad1;
    cursor: pointer;
    color: white;
    font-family: "Open Sans";
    border: 0;
}

.savebut-pass {
    margin: 0 3px;
}

#input-offers{
    width: 100%;
    border: 0;
    padding-left: 10px;
}

#offers-wrap{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    padding-left: 28px;
}


.offer{
    border: 2px solid #d2d2d2;
    border-radius: 2px;
    margin: 0px 7px 10px 7px;
    padding: 6px 9px;
    background-color: #fff;
}

.offer span{
    color: #333333;
    letter-spacing: 1px;
    font-size: 14px;
}

.offer img{
    margin-left: 5px;
    cursor: pointer;
}

#hidden-offers{
    display: none;
}

#itemss{
    top: 100%;
    left: 1px;
    padding: 0px;
    margin: 0px;
    opacity: 0.9;
    width: 100%;
}

#itemss div{
    height: 45px;
    display: flex;
    align-items: center;
    font-size: 17px;
    padding-left: 19px;
    cursor: pointer;
}

#itemss div:hover{
    background-color: #cfcecf;

}

#itemss div span{
    color: #333333;
}

#picField{
    display: none;
}

#photo-wrap {
    background-color: white;
}

#center-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 71px;
}