#body-container {
    display: flex;
    margin-top: 11px;
}

.hidden-input {
    width: 0px;
    height: 0px;
    opacity: 0;
    position: absolute;
}

.card-description {
}

.card-title {
    margin-bottom: 4px;
}

.card-title-text {
    font-size: 19px;
    margin-right: 13px;
}

.card-title img {
    width: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.address {
    display: block;
    font-size: 13px;
}

.tariffs-title {
    font-size: 13px;
    font-weight: bold;
    display: block;
    margin: 12px 0px 8px 0px;
}

.tariff-line {
    display: flex;
}

.tariff {
    width: 100px;
    height: 27px;
    background-color: #ffffff;
    margin: 1px 1px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-bar {
    width: 30%;
    /* margin-top: 16px; */
}

#right-bar {
    width: 70%;
    padding-left: 2%;
}

#slider-photo {
    width: 95%;
    float: right;
}

.img-wrap img {
    width: 100%;
}

#main-description {
    width: 95%;
    float: right;
    margin-top: 17px;
}

#destription-title {
    display: block;
    color: #414141;
    margin-bottom: 15px;
}

.description-line {
    list-style-type: none;
    font-size: 15px;
}

    .description-line:before {
        content: "- ";
    }

    .description-line:after {
        content: ";";
    }

.slick-dots {
    bottom: 5px;
}

    .slick-dots li {
        margin: 0px;
    }

        .slick-dots li button:before {
            opacity: 1;
            color: white;
        }

        .slick-dots li.slick-active button:before {
            opacity: 1;
            color: #00aeef;
        }

.slick-next {
    right: 0px;
}

.slick-prev {
    left: 0px;
    z-index: 1;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.button-time {
    border-radius: 5px;
    background-color: #e1e1e1;
    border: 2px solid #e1e1e1;
    color: black;
    font-size: 13px;
    padding: 6px 21px;
    margin: 3px;
    font-size: 12px;
}

.blue-button {
    border-radius: 5px;
    background-color: #0a9ad1;
    border: 2px solid #0a9ad1;
    color: white;
    padding: 6px 21px;
}

.active-button {
    border-radius: 5px;
    background-color: #0a9ad1;
    border: 2px solid #0a9ad1;
    color: white;
    padding: 6px 21px;
}

.white-button {
    border-radius: 5px;
    background-color: #ffffff;
    color: black;
    border: 2px solid #88d4f1;
    padding: 6px 21px;
}

#show-map-btn {
    margin-left: 32px;
}

.bold-line {
    font-weight: bold;
}

.tariff:hover {
    background-color: #ecebf5;
}

div#record-day {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#record-day span {
    font-size: 14px;
}

div#input-date-wrap {
    margin: 0px 30px;
}

span#input-date {
    margin: 0 20px;
    font-weight: bold;
}




div#checkbox-wrap {
    margin-top: 18px;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
}

span#checkbox-label {
    margin-left: 15px;
    font-size: 14px;
}

#textarea {
    resize: none;
    width: 65%;
    height: 119px;
    min-width: 300px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    padding: 8px;
    font-size: 14px;
}

div#total-time {
    margin-top: 13px;
    margin-bottom: 10px;
}

span.total-label {
    font-size: 15px;
}

span#total-bold {
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
}

span#total-sum {
    font-weight: bold;
    margin-left: 10px;
}

button#booked-btn {
    margin-top: 20px;
}

div#input-time-wrap {
    max-width: 80%;
}

div#calendar-wrap {
    position: absolute;
    background: gray;
    top: 108%;
    left: -36%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: none;
    border: 1px solid #0f88b6;
}

#calendar-btn {
    position: relative;
}

.datepicker {
    border: 0;
    border-radius: 0;
    background: transparent;
    width: 220px;
}

.datepicker--nav {
    background: #0a9ad1;
    color: white;
    height: 32px;
}

.datepicker--nav-title:hover {
    background: #0da6e0;
}

.datepicker--nav-title i {
    color: white;
}

.datepicker--nav-action:hover {
    background: #0da6e0;
}

.datepicker--nav-action path {
    stroke: #ffffff;
}

.datepicker--day-name {
    color: #0a9ad1;
}

.datepicker--days-names {
    margin: 0px;
}

.datepicker--cell {
    border-radius: 0px;
    height: 20px;
}

button#calendar-btn:focus {
    outline: none;
}

button.button-time:focus {
    outline: none;
}



.heart {
    fill: #e1e1e1;
    stroke: #000000;
    stroke-width: 3%;
    cursor: pointer;
}

.red-heart {
    fill: #ff2323;
    stroke: #ff2323;
    stroke-width: 3%;
}
