
@{
    ViewBag.Title = "Просмотр забронированного времени";
}

@Styles.Render("~/Content/ViewBookedTimeStyles.css")


<div id="background-overlay"></div>

<div id="body-container">
    <div id="page-title">
        <span id="main-title">Просмотр забронированного времени</span>
        <span id="sub-title">Здесь отображается список всех ваших актуальных записей</span>
    </div>
    <div class="cards-wrap">
        <div class="favorite-card">
            <img class="photo" src="~/Resources/img/default-card-img.png"></img>
            <div class="card-description">
                <span class="card-title">Студия красоты Beauty Forest</span>
                <div class="record-wrap">
                    <div class="time-wrap">
                        <span class="small-description">
                            Вторник, 21 Июля
                        </span>
                        <span class="bold-description">
                            14:00 - 19:30 (5,5 часов)
                        </span>
                    </div>
                    <div class="money-wrap">
                        <span class="small-description">
                            Стоимость
                        </span>
                        <span class="bold-description">
                            2400р
                        </span>
                    </div>
                    <button id="remove-record-btn">Отменить запись</button>
                </div>
                <div class="status-wrap">
                    <span class="small-description">
                        Статус
                    </span>
                    <span class="small-description red-text">
                        Ожидается подтверждение администратора
                    </span>
                </div>
            </div>
        </div>

        <div class="favorite-card">
            <img class="photo" src="~/Resources/img/default-card-img.png"></img>
            <div class="card-description">
                <span class="card-title">Студия красоты Beauty Forest</span>
                <div class="record-wrap">
                    <div class="time-wrap">
                        <span class="small-description">
                            Вторник, 21 Июля
                        </span>
                        <span class="bold-description">
                            14:00 - 19:30 (5,5 часов)
                        </span>
                    </div>
                    <div class="money-wrap">
                        <span class="small-description">
                            Стоимость
                        </span>
                        <span class="bold-description">
                            2400р
                        </span>
                    </div>
                    <button id="remove-record-btn">Отменить запись</button>
                </div>
                <div class="status-wrap">
                    <span class="small-description">
                        Статус
                    </span>
                    <span class="small-description green-text">
                        Подтверждено
                    </span>
                </div>
            </div>
        </div>

        <div class="favorite-card">
            <img class="photo" src="~/Resources/img/default-card-img.png"></img>
            <div class="card-description">
                <span class="card-title">Студия красоты Beauty Forest</span>
                <div class="record-wrap">
                    <div class="time-wrap">
                        <span class="small-description">
                            Вторник, 21 Июля
                        </span>
                        <span class="bold-description">
                            14:00 - 19:30 (5,5 часов)
                        </span>
                    </div>
                    <div class="money-wrap">
                        <span class="small-description">
                            Стоимость
                        </span>
                        <span class="bold-description">
                            2400р
                        </span>
                    </div>
                    <button id="remove-record-btn">Отменить запись</button>
                </div>
                <div class="status-wrap">
                    <span class="small-description">
                        Статус
                    </span>
                    <span class="small-description red-text">
                        Ожидается подтверждение администратора
                    </span>
                </div>
            </div>
        </div>

        <div class="favorite-card">
            <img class="photo" src="~/Resources/img/default-card-img.png"></img>
            <div class="card-description">
                <span class="card-title">Студия красоты Beauty Forest</span>
                <div class="record-wrap">
                    <div class="time-wrap">
                        <span class="small-description">
                            Вторник, 21 Июля
                        </span>
                        <span class="bold-description">
                            14:00 - 19:30 (5,5 часов)
                        </span>
                    </div>
                    <div class="money-wrap">
                        <span class="small-description">
                            Стоимость
                        </span>
                        <span class="bold-description">
                            2400р
                        </span>
                    </div>
                    <button id="remove-record-btn">Отменить запись</button>
                </div>
                <div class="status-wrap">
                    <span class="small-description">
                        Статус
                    </span>
                    <span class="small-description red-text">
                        Ожидается подтверждение администратора
                    </span>
                </div>
            </div>
        </div>

        <div class="favorite-card">
            <img class="photo" src="~/Resources/img/default-card-img.png"></img>
            <div class="card-description">
                <span class="card-title">Студия красоты Beauty Forest</span>
                <div class="record-wrap">
                    <div class="time-wrap">
                        <span class="small-description">
                            Вторник, 21 Июля
                        </span>
                        <span class="bold-description">
                            14:00 - 19:30 (5,5 часов)
                        </span>
                    </div>
                    <div class="money-wrap">
                        <span class="small-description">
                            Стоимость
                        </span>
                        <span class="bold-description">
                            2400р
                        </span>
                    </div>
                    <button id="remove-record-btn">Отменить запись</button>
                </div>
                <div class="status-wrap">
                    <span class="small-description">
                        Статус
                    </span>
                    <span class="small-description green-text">
                        Подтверждено
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>